.outside-background{
  height: 100vh;
  background: #dedede;
  position: relative;
}
.restaurants-container{
  background: white;
  width: 768px;
  height: 80%;
  border-radius: 10px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 32px;
}

.restaurants-list{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: inherit;
  border-radius: 10px;
  align-items: center;
  padding-top: 24px;

}

.restaurants-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 24px 32px;
  margin-bottom: 20px;
  width: 80%;
  i{
    margin-right: 12px;
    color: gold;
  }

  &__name{
    font-weight: bold;
  }

  &__status{
    text-transform: uppercase;
    font-weight: 600;
    &.open{
      color: green;
    }
    &.closed{
      color: grey;
    }
    &.order{
      color: orange;
    }

  }
}
